<footer>
	<h2>Контакты</h2>
	<div class="social">
		<a href="https://github.com/ClassZak" target="_blank">ClassZak</a>
	</div>
	<p>&copy; 2025 MStore. Все права защищены.</p>
	
	<!-- Описание проекта -->
	<h2>Описание проекта</h2>
	<div class="contact">
		<p>Тема: <strong>"Магазин мерчевой продукции"</strong></p>
		<p>Версия: <strong>1.0.1.b</strong></p>
	</div>
	<h3>Список изменений</h3>
	
	<ul>
		<li>Админ панель
			<ol>
				<li>Таблица производителей
					<ul>
						<li>минимальные размеры для карточки</li>
						<li>кнопка добавить	(+)</li>
						<li>кнопка удалить	(🗑)</li>
						<li>кнопка изменить	(✎)</li>
					</ul>
				</li>
				<li>Таблица производителей
					<ul>
						<li>CRUD операции</li>
						<li>пофикшенные размеры изображения</li>
					</ul>
				</li>
			</ol>
		</li>
		<li>Поиск товаров</li>
		<li>Страница товара</li>
		<li>Страница "Контакты"</li>
		<li>Страница "О нас"</li>
		<li>Подключение <a href="https://github.com/imevro/flexboxgrid2">flexboxgrid2.7.0</a></li>
		<li>Адаптивность</li>
		<li>JS для взаимодействия с сервером</li>
		<li>Рендеринг страниц при помощи <a href="https://flask.palletsprojects.com/en/stable/">Flask</a></li>
	</ul>
</footer>