<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/good_frame.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/modal_form.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/error_window.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/shadow_card.css')}}">
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
		<script src="{{url_for('static',filename='scripts/error_message.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/base_scripts/escape.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/goods_scripts.js')}}"></script>

		<link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.0/flexboxgrid2.css">

		<title>MStore — Товары</title>
	</head>
	<script>
		document.addEventListener('DOMContentLoaded',async function(params){
			setTimeout(async function(){
				await loadManufacturersToArray();
				await loadGoods('goods_grid');
			}, 500);
		});
	</script>
	
	
	<body>
		<header>
			{% include 'parts/header_content.html' %}
		</header>
		<main class="content-wrapper">
			<h1>Весь ассортимент товаров</h1>
			<div class="row" id="goods_grid" style="padding: 10px;"></div>
		</main>
		<footer>
			{% include 'parts/footer_content.html' %}
		</footer>
	</body>
</html>