<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/good_frame.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/modal_form.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/error_window.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='styles/shadow_card.css')}}">
		<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
		<script src="{{url_for('static',filename='scripts/error_message.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/base_scripts/escape.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/goods_scripts.js')}}"></script>

		<link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.0/flexboxgrid2.css">
		<title>MStore — Главная</title>
	</head>
	<script>
		document.addEventListener('DOMContentLoaded',async function(params){
			setTimeout(async function(){
				await loadManufacturersToArray();
				await loadGoods('goods_grid','new/');
			}, 500);
		});
	</script>


	<body>
		<header>
			{% include 'parts/header_content.html' %}
		</header>
		<main class="content-wrapper">
			<h1>Добро пожаловать в магазин мерча MStore!</h1>
			<p>	На дворе праздники и нечего подарить? Устали от <em><strong>скучных</strong></em> вещей? <br> Хочется купить что-то <em><strong>оригинальное</strong></em> и <em><strong>интересное</strong></em>? 	Если да, то Вы пришли <em><strong>по адресу</strong></em>. Здесь вы найдёте <em><strong>всё</strong></em>: футболки, шапки, джинсы, толстовки, тарелки, вилки, ложки, мечи, ножи, подарочные упаковки и <em><strong>многое другое</strong></em>, <em><strong>всё</strong></em> что вам нужно есть <strong>только у нас</strong>!</p>
			<p>	Для покупки товара выберите его среди каталога товаров и поместите в корзину. <br>	После выбора набора товаров наша система оформит ваш заказ и доставит в течение нескольких суток! <br>	<strong>Скорее</strong>, <strong>не упустите свой шанс</strong> приобрести <em><strong>уникальные</strong></em> товары, <strong>время не ждёт!</strong> Не упустите свой шанс найти то, что потом не найти; <strong>не расстраивайте себя в будущем!</strong></p>
			<h1>Наши новинки</h1>
			<div class="row" id="goods_grid" style="padding: 10px;"></div>
		</main>
		<footer>
			{% include 'parts/footer_content.html' %}
		</footer>
	</body>
</html>